<a href="https://colab.research.google.com/github/NikhilSajimon/ICT-Notes/blob/main/python_14082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##***P-test, T-test, Z-test, F-Distribution***

In [ ]:
# Z-Test
# 1. State the null hypothesis
# 2. State the alternate hypothesis
# 3. Choose your significance level
# 4. Calculate your Z-Test Statistic: Z = (×_mean - μ)/(σ/sqrt(n))
# 5. Find p-value using Z-Table and Z-test statistic computed
# 6. If p-value < α, then we fail to reject null hypothesis
#    If p-value > α, then we accept null hypothesis
# 7. There are one-tailed and two tailed-tests

In [ ]:
sample = [50.8, 49.5, 50.2, 51, 49.7, 50.3, 49.8, 50.5, 49.6, 50.1]
x_bar = sum(sample)/len(sample)
print(f'sample mean is {x_bar}')
M = 50
std = 1.5
z_score = (x_bar - M)/(std/(len(sample) ** 0.5))
print(z_score)

sample mean is 50.150000000000006
0.31622776601684993

In [ ]:
def mean(lst):
  return sum(lst) / len(lst)

def stdeviation(lst):
  mean_val = mean(lst)

  xi_minus_mean_list = [xi - mean_val for xi in lst]
  xi_minus_mean_squared_list = [num ** 2 for num in xi_minus_mean_list]
  variance = sum(xi_minus_mean_squared_list) / (len(lst) - 1)
  standard_deviation = variance ** 0.5

  return standard_deviation

stdeviation(sample)

0.48425200051212935

In [ ]:
stdeviation([1,3,3,10,7,7,9,80])

24.743686063317245

In [ ]:
boys = [50,81,61,63,83,64,75,43]
girls = [48,50,39,53,60,47,60,55,52,52,63,49]

def t_test(x_list, y_list):

  n1 = len(x_list)
  n2 = len(y_list)
  x_mean = mean(x_list)
  y_mean = mean(y_list)
  s_x = stdeviation(x_list)
  s_y = stdeviation(y_list)
  t = (x_mean - y_mean) / ((((s_x ** 2)/n1) + ((s_y ** 2)/n2)) ** 0.5)


  print(x_mean)
  print(y_mean)
  print(s_x)
  print(s_y)
  print(f'T test statistic is {t}')

t_test(boys, girls)


# critical value - one-tailed: 1.734, critical value - two-tailed: 2.101

65.0
52.333333333333336
13.275918047351754
6.328945848682508
T test statistic is 2.5148312293370516