<a href="https://colab.research.google.com/github/NikhilSajimon/ICT-Notes/blob/main/python_05082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Control Flow
1.IF:     This checks a condition, and if it's true, the indented code block under it will be executed.\

In [ ]:
age = int(input('Enter age: '))
if age >= 18:
  print('You are eligible to vote.')

Enter age: 19
You are eligible to vote.

2.IF ELSE:     This checks a condition, and if it's true, the indented code block under it will be executed. Else, the code inside the else block will be executed.

In [ ]:
age = int(input('Enter age: '))
if age >= 18:
  print('You are eligible to vote.')
else:
  print('You are not eligible to vote.')

Enter age: 19
You are eligible to vote.

3. IF-ELIF-ELIF\
if condition1:\
    runs if condition1 is True\
elif condition2:\
    runs if condition2 is True\
elif condition3:\
    runs if condition3 is True

In [ ]:
marks = int(input('Enter marks: '))
if marks >= 60:
  print('Good')
elif marks >= 30:
  print('Average')
elif marks < 30:
  print("Need Improvement")

Enter marks: 65
Good

In [ ]:
age = int(input('Enter age: '))
if age >= 60:
  print('Senior citizen')
elif age >=20:
  print('Adult')
elif age >= 13:
  print('Teenager')
else:
  print('Child')

Enter age: 13
Teenager

Nested IFs

In [ ]:
#excercise
name = input('Enter your name: ')
if len(name) >= 10:
  print('You have a long name')
else:
  print('You have a short name')

Enter your name: nikhil
You have a short name

In [ ]:
time = input('Enter Time (HH:MM): ')
hour = int(time.split(":")[0])
if hour > 12:
  print(f'The time is {hour - 12} : {time.split(":")[1]} PM')
elif hour == 12:
  print(f'The time is 12 : {time.split(":")[1]} PM')
elif hour == 00:
  print(f'The time is 12 : {time.split(":")[1]} AM')
else:
  print(f'The time is {hour} : {time.split(":")[1]} AM')

Enter Time (HH:MM): 18:59
The time is 6 : 59 PM

In [ ]:
word = input('Enter word: ')
palindrome = word[::-1]
if word == palindrome:
  print(f'The word {word} is a palindrome')
else:
  print(f'The word {word} is not a palindrome')

Enter word: malayalam
The word malayalam is a palindrome

In [ ]:
color = input('Enter your favourite color: ')
if color == 'red' or 'blue' or 'green':
  print(f'Your favourite color {color} is a primary color')
else:
  print(f'Your favourite color {color} is not a primary color')

Enter your favourite color: red
Your favourite color red is a primary color

In [ ]:
color = input('Enter your favourite color: ')
if color == 'red' or color == 'green' or color == 'blue':
  print(f'Your favourite color {color} is a primary color')
else:
  print(f'Your favourite color {color} is not a primary color')

Enter your favourite color: yellow
Your favourite color yellow is not a primary color

In [ ]:
mfd = input('Enter manufacturing date (DD/MM/YY): ')
curr_month = 8
if int(mfd.split("/")[1]) + 6 < curr_month or int(mfd.split("/")[2] != 2025):
  print('The product has expired!')
else:
  print('Your product has\'nt expired')

Enter manufacturing date (DD/MM/YY): 12/08/2024
The product has expired!

In [ ]:
numbers = input("Enter three numbers: ").split()
num_1 = int(numbers[0])
num_2 = int(numbers[1])
num_3 = int(numbers[2])
if num_1 > num_2 and num_1 > num_3:
  print(f"The largest number is {num_1}")
elif num_2 > num_1 and num_2 > num_3:
  print(f"The largest number is {num_2}")
elif num_3 > num_1 and num_3 > num_2:
  print(f"The largest number is {num_3}")

Enter three numbers: 1 2 3
The largest number is 3

String Formatting

In [ ]:
print('this is {} and this is {}'.format('a','b'))
print('this is {1} and this is {0}'.format('a','b'))
print(f"this is {'a'} and this is {'b'}")

this is a and this is b
this is b and this is a
this is a and this is b

In [ ]:
pi = 3.14159625
print(f" pi contains {pi:.2f}")
print(f" pi contains {pi:.3f}")
print(f" pi contains {pi:.4f}")
print(f" pi contains {pi:.5f}")

 pi contains 3.14
 pi contains 3.142
 pi contains 3.1416
 pi contains 3.14160

multivariable assignment

In [ ]:
name, age , location =  'guest', 22, 'Cochin'
print(name)
print(age)
print(location)

guest
22
Cochin

In [ ]:
day = input('Enter day: ')
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
if day not in days:
  print('Invalid input !, Enter a day')
else:
  if day == 'saturday' or day == 'sunday':
    print("I'ts a Holiday")
  else:
    print("I'ts not a holiday")

Enter day: monday
I'ts not a holiday

In [ ]:
print("Hello","There",sep='---')

Hello---There

In [ ]:
print('one')
print('two',end="-")
print('three')

one
two-three

In [ ]:
a = 54
print(type(a))
b = str (a)
print(b,type(b))

<class 'int'>
54 <class 'str'>

In [ ]:
integer_1 = 3
float_1 = 2.7
string_1 = "24"
list_1 = [1,2,3,4]
tuple_1 = (1,2,3,4,5)

In [ ]:
#int to string
print(type(str(integer_1)))
#int to float
print(type(float(integer_1)))
#string to int
print(type(int(string_1)))
#string to float
print(type(float(string_1)))
#float to string
print(type(str(float_1)))
#float to int
print(type(int(float_1)))

#list to tuple
print(type(tuple(list_1)))
#tuple to list
print(type(list(tuple_1)))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'list'>

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
domain = ['Data','Science']
" ".join(domain)

'Data Science'

List Operations

In [ ]:
x = [1,2,3]
x.append(4)
print(x)

x.extend([5,6,7])
print(x)

x.remove(2)
print(x)

x.insert(0, 10)
print(x)

x.reverse()
print(x)

x.sort()
print(x)

e = x.pop(0)
print(e, x)

x.clear()
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 6, 7]
[10, 1, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 1, 10]
[1, 3, 4, 5, 6, 7, 10]
1 [3, 4, 5, 6, 7, 10]
[]

### Write a code to convert date format from dd/mm/yyyy to
 - mm-dd-yyyy
 - dd-mm-yyyy
 - yyyy|dd|mm

In [ ]:
date = input("Enter date (dd/mm/yyyy): ").split("/")

day = date[0]
month = date[1]
year = date[2]

print("-".join([month,day,year]))
print("-".join([day,month,year]))
print("|".join([year,day,month]))

Enter date (dd/mm/yyyy): 16/05/2000
05-16-2000
16-05-2000
2000|16|05