<a href="https://colab.research.google.com/github/NikhilSajimon/ICT-Notes/blob/main/python_11082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Coding Best Practices
1. Readability - PEP8 Style
2. Functions and DRY principle
3. Error handling & exception and Validation
4. Writing pythonic code
5. Documentation and commenting

In [ ]:
# SyntaxError

In [ ]:
def my_function() # <- Missing the colon at the end
    print("Hello!")

SyntaxError: expected ':' (ipython-input-1554485603.py, line 1)

In [ ]:
# NameError

In [ ]:
name = "Alice"
print(nane) # <- Typo in the variable name

In [ ]:
# TypeError

In [ ]:
age = 30
message = "Her age is: " + age # <- Can't add a string and an integer

TypeError: can only concatenate str (not "int") to str

In [ ]:
# IndexError

In [ ]:
my_list = ["apple", "banana", "cherry"] # Indexes are 0, 1, 2
print(my_list[3]) # <- Index 3 does not exist

In [ ]:
# KeyError

In [ ]:
student = {"name": "Bob", "grade": 10}
print(student["age"]) # <- The key "age" does not exist

In [ ]:
# ValueError

In [ ]:
number_string = "twenty"
my_number = int(number_string) # <- Can't convert this string to a number

In [ ]:
def process_deposit(amount):
    # We validate the input amount based on our rule.
    if amount <= 0:
        # If the rule is broken, we manually raise a ValueError.
        raise ValueError("Deposit amount must be positive.")

    print(f"Successfully deposited ${amount}.")

# Now, let's test it.
try:
    # process_deposit(100)  # This will work.
    process_deposit(-50)  # This will trigger our exception.
except ValueError as e:
    # We catch the error that we manually raised.
    print(f"Error: {e}")

In [ ]:
# First, define our custom exception.
class InsufficientFundsError(Exception):
    pass

# Now, use it in our function.
def withdraw(balance, amount):
    if amount > balance:
        # Raise our specific, custom error.
        raise InsufficientFundsError(f"Cannot withdraw ${amount}. Insufficient funds.")

    new_balance = balance - amount
    print(f"Withdrawal successful. New balance: ${new_balance}")
    return new_balance

# Let's test it.
my_balance = 500
try:
    withdraw(my_balance, 200)  # This will work.
    withdraw(my_balance, 700)  # This will fail with our custom error.
except InsufficientFundsError as e:
    # We can now specifically catch OUR error.
    print(f"Transaction Failed: {e}")

In [ ]:
def check_voting_age(age):
    # Your code here
    pass

# --- Test Cases ---
print(f"Testing with age 25: {check_voting_age(25)}")
print(f"Testing with age 16: {check_voting_age(16)}")

Testing with age 25: None
Testing with age 16: None

In [ ]:
def  add_two_numbers(a, b):
  return a + b


def subtract_two_numbers(a, b):
  return a - b


def multiply_two_numbers(a, b):
  return a*b


def divide_two_numbers(a, b):
  if b!=0:
    return a/b
  else:
    return None


result1 = add_two_numbers(5,3)
result2 = subtract_two_numbers(10,4)
result3 = multiply_two_numbers(2,8)
result4 = divide_two_numbers(10,2)

print("Addition result:", result1)
print("Subtraction result:" , result2)
print("Multiplication result:", result3)
print("Division result:", result4)

Addition result: 8
Subtraction result: 6
Multiplication result: 16
Division result: 5.0

In [ ]:
def check_even_odd(num):
    # This single line replaces the entire if/else block.
    return "Even" if num % 2 == 0 else "Odd"


check_even_odd(9)

'Odd'

In [ ]:
def print_rectangle_area(width, height):
    area = width * height
    print(f"Area of rectangle: {area}")


print_rectangle_area(5, 10)
print_rectangle_area(3, 8)
print_rectangle_area(6, 4)

Area of rectangle: 50
Area of rectangle: 24
Area of rectangle: 24