<a href="https://colab.research.google.com/github/NikhilSajimon/ICT-Notes/blob/main/python_13082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##***Math Notations, Statistics- Measures of central tendency, dispersion***

In [ ]:
# the mean is the numerical average of a dataset, calculated by summing all the values and dividing by the total count of values.

In [ ]:
def mean(lst):
  return sum(lst) / len(lst)

nums = [15, 8, 22, 10, 8, 12, 16, 19, 10, 5, 14, 25, 10, 18, 7, 11, 21, 13, 2, 14]
print(mean(nums))

13.0

In [ ]:
# the median is the middle value in a data set that has been ordered from least to greatest.
# It serves as a measure of central tendency, with 50% of the data points falling below it and 50% above it.
# To find the median, you must first sort the data.
# If there's an odd number of values, the median is the single middle number.
# If there's an even number of values, the median is the average of the two middle numbers.

In [ ]:
def median(lst):
  lst = sorted(lst)
  mid = len(lst) // 2
  if len(lst) % 2 == 0:
    return (lst[mid - 1] + lst[mid]) / 2
  else:
    return lst[mid]

In [ ]:
median(nums)

12.5

In [ ]:
print(nums)

[2, 5, 7, 8, 8, 10, 10, 10, 11, 12, 13, 14, 14, 15, 16, 18, 19, 21, 22, 25]

In [ ]:
# the mode is the value that appears most frequently in a data set,
# serving as a measure of central tendency alongside the mean and median

In [ ]:
def mode(lst):
  elements = set(lst)
  mode = 0
  mode_count = 0
  for num in elements:

    counts = lst.count(num)
    if counts > mode_count:
      mode = num
      mode_count = counts


  return mode

In [ ]:
mode(nums)

10

In [ ]:
s = [1,2,3,4,5,6,7,8,8,4,5,6,6,9,5,2,1,3,4,5,6,7,8,8,5,1,2,4,5,8,8,8,9,1,2,4,2,1,1,2]
mode(s)

8

In [ ]:
set(s )

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# In statistics, quartiles are three values (Q1, Q2, Q3) that divide a sorted dataset into four equal parts, each containing 25% of the data.
# The First Quartile (Q1) is the 25th percentile, separating the lowest 25% of data.
# The Second Quartile (Q2) is the median, representing the 50th percentile and dividing the data into two equal halves.
# The Third Quartile (Q3) is the 75th percentile, marking the point below which 75% of the data falls.

In [ ]:
rainfall = [85,60,72,55,105,315,380,290,190,130,95,70]


def quartiles(sample):

  def median(lst):
    lst = sorted(lst)
    mid = len(lst) // 2
    if len(lst) % 2 == 0:
      return (lst[mid - 1] + lst[mid]) / 2
    else:
      return lst[mid]

  q2 = median(sample)
  if len(sample) % 2 == 0:
    mid = len(sample) // 2
    q1 = median(sample[:mid])

  print(sorted(rainfall))
  print(q2)
  print(q1)

In [ ]:
quartiles(rainfall)

[55, 60, 70, 72, 85, 95, 105, 130, 190, 290, 315, 380]
100.0
78.5

In [ ]:
nums = [15, 8, 22, 10, 12, 16, 19, 10, 5, 8, 14, 25, 10, 18, 7, 11, 21, 13, 2, 14]

def quartiles(lst):
  lst.sort()
  print(lst)
  fq = 0.25
  sq = 0.5
  tq = 0.75
  lst_length = len(lst)

  q1_ind = int(lst_length * fq)
  q2_ind = int(lst_length * sq)
  q3_ind = int(lst_length * tq)

  return [lst[q1_ind], lst[q2_ind], lst[q3_ind]]

quartiles(nums)

[2, 5, 7, 8, 8, 10, 10, 10, 11, 12, 13, 14, 14, 15, 16, 18, 19, 21, 22, 25]

[10, 13, 18]

In [ ]:
lst = input().split()
nums = [int(i) for i in ]

In [ ]:
def mode(lst):
  elements = set(lst)
  mode_list = {}

  for num in elements:
    counts = lst.count(num)
    mode_list[num] = counts


  mod_count = list(mode_list.values())[1]

  for num, count in mode_list.items():
    if count > mod_count:
      mod_count = count

  multiple_mods = []

  for num, count in mode_list.items():
    if count == mod_count and count != 1:
      multiple_mods.append(num)

  if len(multiple_mods) == 1:
    return multiple_mods[0]

  if len(multiple_mods) == 0:
    return str(None)

  return multiple_mods

nums = [15, 8, 22, 10, 8, 12, 16, 19, 10, 5, 8, 14, 25, 10, 18, 7, 11, 21, 13, 2, 14]
mode(nums)

[8, 10]

In [ ]:
k = [1,2,3,4,5]
mode(k)

'None'