<a href="https://colab.research.google.com/github/NikhilSajimon/ICT-Notes/blob/main/python_08082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


functions

In [ ]:
def greet():
  print('Hello, welcome to kerala')


greet()
greet()
greet()
greet()

Hello, welcome to kerala
Hello, welcome to kerala
Hello, welcome to kerala
Hello, welcome to kerala

In [ ]:
def greet(name):
  print(f'Hello {name}, Welcome to the program')

In [ ]:
greet('Sreesanth')
greet('Saketh')
greet('Nikhil')

Hello Sreesanth, Welcome to the program
Hello Saketh, Welcome to the program
Hello Nikhil, Welcome to the program

In [ ]:
def greet_2(name, time):
  print(f'Hello {name}, Welcome to the program')
  print(f'Your session will start at {time}')


greet_2('Sreesanth', '7:00 hrs')
greet_2('Saketh','18:00 hrs')
greet_2('Nikhil','15:00 hrs')

Hello Sreesanth, Welcome to the program
Your session will start at 7:00 hrs
Hello Saketh, Welcome to the program
Your session will start at 18:00 hrs
Hello Nikhil, Welcome to the program
Your session will start at 15:00 hrs

In [ ]:
def greet_3(name, time = '10:00 hrs'):
  print(f'Hello {name}, Welcome to the program')
  print(f'Your session will start at {time}')


greet_3('Sreesanth', '00:00 hrs')
greet_3('Saketh','18:00 hrs')
greet_3('Nikhil','15:00 hrs')
greet_3('Aswathi')

Hello Sreesanth, Welcome to the program
Your session will start at 00:00 hrs
Hello Saketh, Welcome to the program
Your session will start at 18:00 hrs
Hello Nikhil, Welcome to the program
Your session will start at 15:00 hrs
Hello Aswathi, Welcome to the program
Your session will start at 10:00 hrs

In [ ]:
def product(num1, num2):
  print(f'The product of {num1} and {num2} is {num1 * num2}.')



number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))

product(number_1, number_2)

Enter first number: 465465465
Enter second number: 64654654654
The product of 465465465 and 64654654654 is 30094508892938524110.

In [ ]:
def amount_payable(price):
  if price >= 1000:
    total = price + (0.2 * price)
  elif 500 <= price < 1000:
    total = price + (0.15 * price)
  else:
    total = price + (0.1 * price)
  print(f'Total amount payable is {total} Rs.')

In [ ]:
amount_payable(100)
amount_payable(250)
amount_payable(500)
amount_payable(700)
amount_payable(1000)
amount_payable(1200)

Total amount payable is 110.0 Rs.
Total amount payable is 275.0 Rs.
Total amount payable is 575.0 Rs.
Total amount payable is 805.0 Rs.
Total amount payable is 1200.0 Rs.
Total amount payable is 1440.0 Rs.

In [ ]:
def even_and_average(numbers_list):
  even_list = [num for num in numbers_list if num % 2 == 0]
  average = sum(even_list)/len(even_list)
  print(even_list)
  print(average)

In [ ]:
numbers = [1,2,5,7,8,12,14,13,4,20]
even_and_average(numbers)

[2, 8, 12, 14, 4, 20]
10.0

In [ ]:
def odd_and_average(numbers_list):
  odd_list = []
  for num in numbers_list:
    if num % 2 == 1:
      odd_list.append(num)
  average = sum(odd_list)/len(odd_list)
  print(odd_list)
  print(average)

In [ ]:
numbers_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
odd_and_average(numbers_2)

[1, 3, 5, 7, 9, 11, 13, 15]
8.0

*args - tuple\
***args - dict

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total = 0
  for i in args:
    total += i
  print(total)


sum_numbers(1,2,3,4,5)

<class 'tuple'>
15

In [ ]:
def print_info(**args):
  for item, val in args.items():
    print(f'{item} is {val}')



print_info(name = 'Alan', place = 'tvm', score = 6)
print_info(name = 'Sreesanth', place = 'pathanamthitta', batch = 'DSA')
print_info(name = 'Sreesanth', age = '20', place = 'pta disc')

name is Alan
place is tvm
score is 6
name is Sreesanth
place is pathanamthitta
batch is DSA
name is Sreesanth
age is 20
place is pta

lambda function

In [ ]:
square = lambda x: x*x
square(5)

25

In [ ]:
add = lambda x,y : x + y
add(1,2)

3

In [ ]:
def total_marks(marks):
  return (sum(marks))


final_score = total_marks([10,20,30,40,50])
if final_score >= 90:
  print('Grade A')
elif final_score >= 80:
  print('Grade B')
elif final_score >= 70:
  print('Grade C')
elif final_score >= 60:
  print('Grade D')

Grade A

**class**\
**object / instance**\
**inheritance**\
**polymorphism**\
**encapsulation**\
**abstraction**

In [ ]:
class Animal:
  animal_type = "Dog"
  num_legs = 4
  mammal = 'Yes'

  def Sound(self):
    print('Animal barks')

In [ ]:
obj1 = Animal()
obj1.Sound()

obj2 = Animal()
obj2.Sound()

Animal barks
Animal barks

In [ ]:
class Person:
  place = 'tvm'

  def __init__(self, name, age):
    self.name = name
    self.age =age

  def greet(self):
    return f'Hi, myself {self.name} and my age is {self.age} and I am from {self.place}'

In [ ]:
person_1 = Person('Sreesanth', 20)
person_1.greet()

person_2 = Person('Saketh', 22)
person_2.greet()

'Hi, myself Saketh and my age is 22 and I am from tvm'

**derived class**

In [ ]:
class Employee:
  def __init__(self, name, emp_id, salary):
    self.name = name
    self.emp_id = emp_id
    self.salary = salary

  def display_info(self):
    print(f'Name: {self.name}')
    print(f'Employee ID: {self.emp_id}')
    print(f'Salary: {self.salary}')

In [ ]:
emp_1 = Employee('Sreesanth', 112987, 35000)
emp_1.display_info()
# emp_1.display_manager_info()

Name: Sreesanth
Employee ID: 112987
Salary: 35000

AttributeError: 'Employee' object has no attribute 'display_manager_info'

In [ ]:
class Manager(Employee):
  def __init__(self, name, emp_id, salary, dept, teamSize):
    super().__init__(name, emp_id, salary)
    self.dept = dept
    self.teamSize = teamSize

  def display_manager_info(self):
    self.display_info()
    print(f'Department: {self.dept}')
    print(f'Team Size: {self.teamSize}')

In [ ]:
man_1 = Manager('Saketh', 135449, 87000, 'IT', 8)
man_1.display_manager_info()
man_1.display_info()

Name: Saketh
Employee ID: 135449
Salary: 87000
Department: IT
Team Size: 8
Name: Saketh
Employee ID: 135449
Salary: 87000

In [ ]:
class TeamLead(Manager):
  def __init__(self, name, emp_id, salary, dept, teamSize, project_name):
    super().__init__(name, emp_id, salary, dept, teamSize)
    self.project_name = project_name

  def display_tl_info(self):
    self.display_manager_info()
    print(f'Project name: {self.project_name}')

In [ ]:
tl1 = TeamLead('Sreesanth', 1245666, 75000, 'IT', 8, 'payment interface')
tl1.display_tl_info()

Name: Sreesanth
Employee ID: 1245666
Salary: 75000
Department: IT
Team Size: 8
Project name: payment interface